/* CSS declarations go here */
.jumbotron{
	padding-top: 2rem;
}
/*p.text-message {
	font-weight: normal; 
}
p.date {
	font-size: 0.8rem;
	color:#90A4AE;
	text-align: center;
}*/

.message_timestamp {
  text-align: left;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  color: #babbbf;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_username {
  font-weight: 900;
  padding-right: .25rem;
  color: #3d3c40 !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
  font-size: 1.2rem;
}

.message-profile-pic {
  position: absolute;
  left: 0;
  display: block;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 2rem;
  width: 36px;
  height: 36px;
  /*background-image: url("http://i1.wp.com/www.techrepublic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png");*/
  background-size: cover;
}
.message-available-user {
  position: absolute;
  left: 0;
  display: block;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.3rem;
  width: 36px;
  height: 36px;
  /*background-image: url("http://i.imgur.com/LikUNLc.png");*/
  background-size: cover;
}
.message {
  color: #555459;
  position: relative;
  margin-top: .5rem;
  padding: .25rem 2rem .1rem 3rem;
  min-height: 36px;
  font-size: 1rem;
}

.users {
  color: #555459;
  position: relative;
  margin-top: .5rem;
  padding: .25rem 2rem .1rem 3rem;
  min-height: 36px;
  font-size: 1rem;
}
.login-link-text {
  color:#26a69a ;
}
/*
.box {
  border: 1px solid blue
}*/
.user-online {
  color: #00BFA5;
  font-size: 0.9rem;
  font-weight: bold;
}
.navbar {
    text-align: right;
  }
/*.toast{
    color:#2bbbad;
  }*/